<a href="https://colab.research.google.com/github/joyloruth/Sales-Funnel-Conversion-Optimization/blob/master/sales_funnel_Exploratory_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Import Libraries**

In [ ]:
import pandas as pd

In [ ]:
user_table = pd.read_csv('/content/drive/My Drive/Projects/Data Sets/Kaggle Data/E-commerce Sales Funnel Data/user_table.csv')

# **Load data**

In [ ]:
user_table.head()

   user_id        date   device     sex
0   450007  2015-02-28  Desktop  Female
1   756838  2015-01-13  Desktop    Male
2   568983  2015-04-09  Desktop    Male
3   190794  2015-02-18  Desktop  Female
4   537909  2015-01-15  Desktop    Male

In [ ]:
home_page = pd.read_csv('/content/drive/My Drive/Projects/Data Sets/Kaggle Data/E-commerce Sales Funnel Data/home_page_table.csv')

In [ ]:
home_page.head()

   user_id       page
0   313593  home_page
1   468315  home_page
2   264005  home_page
3   290784  home_page
4   639104  home_page

In [ ]:
search_page = pd.read_csv('/content/drive/My Drive/Projects/Data Sets/Kaggle Data/E-commerce Sales Funnel Data/search_page_table.csv')

In [ ]:
search_page.head()

   user_id         page
0    15866  search_page
1   347058  search_page
2   577020  search_page
3   780347  search_page
4   383739  search_page

In [ ]:
payment_page = pd.read_csv('/content/drive/My Drive/Projects/Data Sets/Kaggle Data/E-commerce Sales Funnel Data/payment_page_table.csv')

In [ ]:
payment_page.head()

   user_id          page
0   253019  payment_page
1   310478  payment_page
2   304081  payment_page
3   901286  payment_page
4   195052  payment_page

In [ ]:
payment_confirmation_page = pd.read_csv('/content/drive/My Drive/Projects/Data Sets/Kaggle Data/E-commerce Sales Funnel Data/payment_confirmation_table.csv')

In [ ]:
payment_confirmation_page.head()

   user_id                       page
0   123100  payment_confirmation_page
1   704999  payment_confirmation_page
2   407188  payment_confirmation_page
3   538348  payment_confirmation_page
4   841681  payment_confirmation_page